:root{
    --red: #DF4444;
    --black: #423D3D;
    --red-hover : #AD3333;
    --gray-bg : #F4F4F4;
}

*{
    font-family: 'Poppins', sans-serif;
}

.mt-8{
    margin-top: 80px;
}

.wrap {
    padding: 0px 100px;
    width: 100%;
}

/* Style navbar */
.nav-item a{
    font-size: 18px;
    margin-left: 23px;
}
.navbar {
    height: 70px;
}
.d-flex img{
    margin : 0px 20px;
    width: 25px;
    color: gray;
}

/* Style Carrousel  */
.carousel {
    height: 550px;
    overflow : hidden;
    position : relative;
}

.carousel-caption img {
    position : absolute;
    left : -100px;
    top : -70px;
    width: 305px;
}

.carousel img{
    background-size: cover;
}

.caption1 h1, .p{
    width: 75%;
    text-align: left;
    margin-left: -110px;
}

.caption1 p{
    font-size: 22px;
    color: var(--black);
}

.caption1 h1{
    font-weight: bold;
    font-size: 55px;
    color: var(--red);
}

.caption1 button{
    margin-bottom: 55px;
    margin-left: -110px;
    background-color: var(--black);
    color: white;
    border-radius: 10px;
}

.caption1 button:hover{
    color: white;
    background-color: var(--red);
    transition-duration: 0.5s;
    
}
/* End Style Carrousel */

/* Style Produk Terpopuler */
.produk .card{
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(165, 168, 204, 0.3);
    /* box-shadow: 5px 5px 15px rgba(100, 100, 100, 0.3); */
}

.produk .card img{
    border-radius: 30px;
    padding : 20px;
    transition: transform .5s, filter 1.5s ease-in-out;
}

.produk .card:hover img {
    transform: scale(1.1);
  }

.produk .card-link{
    color: var(--red);
    font-weight: 600;
    text-decoration: none;
}

.produk .card .btn{
    border-radius: 8px;
    background-color: var(--red);
    border: none;
}

.produk .selengkapnya{
    background-color: var(--red);
    border-radius: 8px;
    border: none;
    transition: 0.3s;
}
.produk .selengkapnya:hover{
    color : #fff;
    background-color: var(--red-hover);
}

.selengkapnya{
    background-color: var(--red);
    border-radius: 8px;
    border: none;
    transition: 0.3s;
}

.selengkapnya a:hover {
    color : #fff;
    background-color: var(--red-hover);
}

/* End style produk terpopuler */

/* Style produk terbaru */
.bg-terbaru {
    background-color: var(--gray-bg); 
    padding-bottom: 50px;
}

.terbaru .card{
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(165, 168, 204, 0.3);
}

.terbaru .btn{
    background-color: var(--red);
    border: none;
    border-radius: 8px;
}

.terbaru .btn:hover{
    background-color: var(--red-hover);
}

.terbaru h2 {
    font-weight: bold;
    padding: 65px 0px;
}

.card-title {
    font-weight: bold;
}
/* End style produk terbaru */

/* Style alasan  */
.alasan{
    height: 350px;
    background-color: var(--red);
    border-radius: 20px;
    color: white;
}

.alasan img{
    height: 350px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.alasan a{
    color: var(--red);
    background-color: white;
    border-radius: 8px;
    border: none;
}
.alasan a:hover{
    color: white;
    background-color: var(--black);
    border-radius: 8px;
    border: none;
}
/* End style alasan */

/* Style Review */
.review{
    background-image: url('../img/bg-review.jpg');
}

.review .carousel-item{
    text-align: center;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    margin: 10px;
}
.review-arrow {
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}
.review{
    padding:10px;
}

.review img{
    border:5px solid #f5f4f4;
    border-radius: 50%;
    width:250px;
    height: 270px;
}
/* End style review */

/* Style footer */
.footer{
    height: 380px;
    background-color: var(--black);
    color: white;
}

.footer li {
    margin-top: 8px;
    margin-left: -30px;
    list-style: none;
}

.footer button{
    background-color: var(--red);
    border: none;
    border-radius: 8px;
}
/* End style footer */