:root{
    --red: #DF4444;
    --black: #423D3D;
}

*{
    font-family: 'Poppins', sans-serif;
}

.mt-8{
    margin-top: 80px;
}

.wrap {
    padding: 0px 100px;
    width: 100%;
}

/* Style navbar */
.nav-item a{
    font-size: 18px;
    margin-left: 23px;
}

.d-flex img{
    margin-left: 20px;
}

/* Style Carrousel  */
.carousel img{
    background-size: cover;
    height: 550px;
}

.caption1 h1, .p{
    width: 73%;
    text-align: left;
    margin-left: -110px;
}

.caption1 p{
    font-size: 22px;
    color: var(--black);
}

.caption1 h1{
    font-size: 55px;
    color: var(--red);
}

.caption1 button{
    margin-bottom: 50px;
    margin-left: -110px;
    background-color: var(--black);
    color: white;
    border-radius: 10px;
}

.caption1 button:hover{
    color: white;
    background-color: var(--red);
    transition-duration: 0.5s;
    
}
/* End Style Carrousel */

/* Style Produk Terpopuler */
.produk .card{
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(165, 168, 204, 0.3);
    /* box-shadow: 5px 5px 15px rgba(100, 100, 100, 0.3); */
}

.produk .card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.produk .card-link{
    color: var(--red);
    font-weight: 600;
    text-decoration: none;
}

.produk .card .btn{
    border-radius: 8px;
    background-color: var(--red);
    border: none;
}

.lengkap{
    border-radius: 8px;
    background-color: var(--red);
    border: none;
    padding: 5px 13px;
    text-decoration: none;
    color: white;
}
/* End style produk terpopuler */

/* Style produk terbaru */
.terbaru .card{
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(165, 168, 204, 0.3);
}
/* End style produk terbaru */

/* Style alasan  */
.alasan{
    height: 350px;
    background-color: var(--red);
    border-radius: 20px;
    color: white;
}

.alasan img{
    height: 350px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.alasan a{
    color: var(--red);
    background-color: white;
    border-radius: 8px;
    border: none;
}
.alasan a:hover{
    color: white;
    background-color: var(--black);
    border-radius: 8px;
    border: none;
}
/* End style alasan */

/* Style Review */
.review .carousel-item{
    text-align: center;
}

.review{
    padding:10px;
}

.review img{
    border:5px solid #f5f4f4;
    border-radius: 50%;
    width:250px;
    height: 270px;
}
/* End style review */

/* Style footer */
.footer{
    height: 380px;
    background-color: var(--black);
    color: white;
}

.footer li {
    margin-top: 8px;
    margin-left: -30px;
    list-style: none;
}

.footer button{
    background-color: var(--red);
    border: none;
    border-radius: 8px;
}
/* End style footer */